.DS_Store
.vscode
.env
.pytest_cache
.benchmarks
scratch*
data/
# Python build artifacts
*.egg-info/
dist/
build/

# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.coverage
